doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://hayageek.github.io/jQuery-Upload-File/uploadfile.min.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css')
    script(type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(type='text/javascript' src="http://code.jquery.com/ui/1.11.2/jquery-ui.js")
    script(type='text/javascript' src="http://hayageek.github.io/jQuery-Upload-File/jquery.uploadfile.min.js")
  body
    block content